.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.planning {
	display: flex;
}

.planning__day {
	margin-right: 20px;
}

.planning__horaire {
	display: flex;
	margin-bottom: 10px;
}

.planning__heure {
	width: 60px;
	margin-right: 10px;
	text-align: right;
}

.planning__count {
	width: 60px;
	text-align: center;
}